; Newtrodit configuration file
; Add your preferred settings here
; This are the settings I use

; Character conversion
converttab=true
convertnull=true

; Settings

manfile="newtrodit.man"
sigsegv=false
mouse=true
wholeword=false
autosyntax=true

; Colors
fontcolor=7
menucolor=7

; Editing related

tabwide=4
syntax=1
linecount=true
linehighlight=true
cursize=20
