.badges {
	padding-top: 10px;
	padding-bottom: 10px;
}

ul.padlist {
	padding-left: 15px;
}

img.screenshot {
	height: 512px;
	width: 962px;
}

@media (max-width: 962px) 
{
	img.screenshot {
		height: calc(100% * 512)vh;
		width: calc(100% * 962/512)vw;

	}
}