.badges {
	padding-top: 10px;
	padding-bottom: 10px;
}

ul.padlist {
	padding-left: 15px;
}

@media (min-width: 1193px)
{
	img.screenshot {
		height: 512px;
		width: 962px;
	}	
}



@media (max-width: 1192px)  /* 962 * 1.24 (image width * margin )*/
{
	img.screenshot {
		height: calc((962*100vw/1192)*(512/962));
		width: calc(962*100vw/1192);
	}
}